---
import { HOMEPAGE_URL } from '../consts'
const today = new Date()
---

<footer class="text-zinc-200 p-4 text-center relative font-bold">
  &copy; {today.getFullYear()}
  <a href={HOMEPAGE_URL}>Christian M. Adams</a>. All rights reserved.
  <img
    src="/waves-light.svg"
    alt="wavey design"
    class="absolute inset-x-0 bottom-0 -z-10 mx-auto min-w-full min-h-full object-cover dark:opacity-0 opacity-100"
  />
  <img
    src="/waves-dark.svg"
    alt="wavey design"
    class="absolute inset-x-0 bottom-0 -z-10 mx-auto min-w-full min-h-full object-cover dark:opacity-100 opacity-0"
  />
</footer>
