---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
import {
  IoLogoGithub,
  IoHome,
  IoBook,
  IoLogoLinkedin
} from 'react-icons/io5/index.js'
import { TbGhost } from 'react-icons/tb/index.js'
import ThemeToggleButton from './ThemeToggleButton'
import DropdownMenu from './DropdownMenu'

const menuItems = [
  {
    name: 'Home',
    url: '/'
  },
  {
    name: 'Blog',
    url: '/blog'
  },
  {
    name: 'Github',
    url: 'https://github.com/chris-chen-creates',
    target: '_blank'
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/adamschristian/',
    target: '_blank'
  }
]
---

<header
  class="fixed w-full p-2 z-20 dark:backdrop-blur-md bg-zinc-100 dark:bg-transparent"
>
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/" class="text-3xl dark:text-emerald-400 text-rose-500">
        <TbGhost />
      </a>
      <a href="/" class="group">
        <h2 class="font-bold tracking-tighter p-2 font-spaceMono text-lg">
          {SITE_TITLE}
        </h2>
      </a>
      <div class="items-center gap-6 font-spaceMono hidden md:flex">
        <HeaderLink
          class="dark:hover:text-emerald-400 hover:text-rose-500"
          href="/"
        >
          <IoHome />Home
        </HeaderLink>
        <HeaderLink
          class="dark:hover:text-emerald-400 hover:text-rose-500"
          href="/blog"
        >
          <IoBook />Blog
        </HeaderLink>
        <HeaderLink
          class="dark:hover:text-emerald-400 hover:text-rose-500"
          href="https://github.com/chris-chen-creates"
          target="_blank"
        >
          <IoLogoGithub />Github
        </HeaderLink>
        <HeaderLink
          class="dark:hover:text-emerald-400 hover:text-rose-500"
          href="https://www.linkedin.com/in/adamschristian/"
          target="_blank"
        >
          <IoLogoLinkedin />LinkedIn
        </HeaderLink>
      </div>
      <div class="flex-1"></div>
      <DropdownMenu items={menuItems} client:visible />
      <ThemeToggleButton client:visible />
    </nav>
  </div>
</header>
