---
import { Image } from '@astrojs/image/components'
---

<section class="relative mb-6 h-80 flex justify-center items-center"></section>
<div class="absolute w-full h-full overflow-hidden">
  <img src="../assets/" width={720 * 2} />
</div>
<div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
  <div class="uppercase text-md mb-4">Welcome</div>
  <div class="text-4xl font-spaceMono font-medium">Web Traveler 🚀</div>
</div>
